<h2 mat-dialog-title class="text-center">Detalles Mascota</h2>

<mat-dialog-content class="d-flex justify-content-center flex-wrap align-items-strech">

    <mat-card class="mat-elevation-z8 card">
        <mat-card-header>
        <mat-card-title>Nombre</mat-card-title>
        <mat-card-subtitle>{{dataMascota.nombre}}</mat-card-subtitle>
        </mat-card-header>
        
    </mat-card>
            
    <mat-card class="mat-elevation-z8 card">
        <mat-card-header>
        <mat-card-title>Fecha de Nacimiento</mat-card-title>
        <mat-card-subtitle>{{dataMascota.fechaNacimiento | date:"dd/MM/yyyy"}}</mat-card-subtitle>
        </mat-card-header>
        
    </mat-card>      
                
 
    <mat-card class="mat-elevation-z8 card">
        <mat-card-header>
        <mat-card-title>Propietario</mat-card-title>
        <mat-card-subtitle>{{dataMascota.cliente.nombre}}</mat-card-subtitle>
        </mat-card-header>
        
   </mat-card>
                
   <mat-card class="mat-elevation-z8 card">
    <mat-card-header>
        <mat-card-title>Telefono</mat-card-title>
        <mat-card-subtitle>{{dataMascota.cliente.telefono}}</mat-card-subtitle>
    </mat-card-header>
    
    </mat-card>

    <mat-card class="mat-elevation-z8 card">
        <mat-card-header>
        <mat-card-title>Email</mat-card-title>
        <mat-card-subtitle>{{dataMascota.cliente.email || 'No tiene'}}</mat-card-subtitle>
        </mat-card-header>
        
    </mat-card>


    <mat-card class="mat-elevation-z8 card">
        <mat-card-header>
        <mat-card-title>Raza</mat-card-title>
        <mat-card-subtitle>{{dataMascota.raza.nombre}}</mat-card-subtitle>
        </mat-card-header>
        
    </mat-card>         
                
 
    <mat-card class="mat-elevation-z8 card">
        <mat-card-header>
        <mat-card-title>Enfermedades</mat-card-title>
        <mat-card-subtitle *ngFor="let enfermedad of dataMascota.enfermedades">{{enfermedad.nombre}}</mat-card-subtitle>
        </mat-card-header>
        
    </mat-card>

    
    <mat-card class="mat-elevation-z8 card" >
        <mat-card-header>
        <mat-card-title>Alergias</mat-card-title>
        <mat-card-subtitle *ngFor="let alergia of dataMascota.alergias">{{alergia.nombre}}</mat-card-subtitle>
        </mat-card-header>
        
    </mat-card>

    <mat-card class="mat-elevation-z8 card">
        <mat-card-header>
        <mat-card-title>Turnos</mat-card-title>
       <mat-card-subtitle *ngIf="dataMascota.turnos!.length<1;else turnos">
           La mascota no posee Turnos.
       </mat-card-subtitle>
        <ng-template #turnos>
            <mat-card-subtitle *ngFor="let turno of dataMascota.turnos">Fecha:{{turno.fecha| date:'dd/MM/yyyy'}} - Asistió: {{turno.asistio?'Si':'No'}}
               <button mat-icon-button  color="primary" (click)="verDetalleTurno(turno)">
                   <mat-icon >search</mat-icon>

               </button></mat-card-subtitle>
            
       </ng-template>
           
        </mat-card-header>
        
    </mat-card>
               
   
</mat-dialog-content>

<mat-dialog-actions  class="mb-4 d-flex justify-content-center" >
    <button  mat-raised-button mat-dialog-close color="primary" >
        Aceptar
    </button>

</mat-dialog-actions>

