<div class="mat-elevation-z8 my-4 mx-4">

  <mat-card class="py-3 px-1" >
    <mat-card-header class="d-flex justify-content-center mb-3">
      <mat-card-title >Resumen Mensual</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex justify-content-between align-items-center mt-3">
        <mat-form-field color="primary" appearance="outline">
          <mat-label>Año</mat-label>
          <mat-select [(ngModel)]="anioSeleccionado" name="anio" >
            <mat-option *ngFor="let anio of listAnios" [value]="anio" >
              {{anio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field color="primary" appearance="outline" class="ms-4">
          <mat-label>Mes</mat-label>
          <mat-select [(ngModel)]="mesSeleccionado" name="mes" >
            <mat-option *ngFor="let mes of listMeses" [value]="mes.numero" >
              {{mes.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <button mat-raised-button color="primary" class="px-5" (click)="mostrarIngresoMensual()">Mostrar</button>

      </mat-card-actions>
      <mat-card-content *ngIf="ingresoMensual && ingresoMensual.cantidadIngresos>0;else sinIngresos" class="d-flex flex-column align-items-center mt-3">
        <p>Cantidad de Ingresos: <span style="font-weight: bold;">{{ingresoMensual.cantidadIngresos}}</span></p>
        <p>Ingreso total: <span style="font-weight: bold;">${{ingresoMensual.total}}</span></p>
      </mat-card-content>

      <ng-template #sinIngresos>
        <mat-card-content class="d-flex flex-column align-items-center mt-3">
          <p>No hay ingresos en el periodo seleccionado.</p>
      </mat-card-content>
  
      </ng-template>
    </mat-card>
    
  </div>