



<div class="container mt-5">

    <h2 class="text-center fs-2">Turnero Peluquería Canina</h2>

    <div class="d-flex justify-content-between m-5">
        <button mat-raised-button color="accent" (click)="semanaAnterior()">Semana Anterior</button>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de Turno</mat-label>
            <input matInput [matDatepicker]="picker"  [(ngModel)]="fecha" (dateChange)="mostrarTurnos()">
            <mat-hint>Fecha Seleccionada</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <button mat-raised-button color="accent" (click)="semanaSiguiente()">Semana Siguiente</button>
    </div>


    

    <div class="d-flex">



    <ul class="ul-horario">
        <li class="headers fs-5">Horario</li>
        <li *ngFor="let horario of listHorarios" class="horarios fs-6 py-2"><span>{{horario.hora|slice:0:5}}</span></li>
    </ul>
    
    <ul *ngIf="listLunes.length!=0;else sinTurnoLunes">
        <li class="headers fs-5">Lun {{cabecerasFechas[0]}}</li>
        <li *ngFor="let turno of listLunes" [matMenuTriggerFor]="menu" class="turno fs-6 py-2 text-center" 
        [ngClass]="{'turno-disponible':turno.disponible,'turno-ocupado':!turno.disponible}"  (click)="turnoMenu = turno">
            {{turno.horario.hora|slice:0:5}}
        </li>

    </ul>

    <ng-template #sinTurnoLunes>
        <ul>
            <li class="headers fs-5">Lun {{cabecerasFechas[0]}}</li>
            <li *ngFor="let horario of listHorarios" class="fs-6 py-2 text-center"><span >---</span></li>
        </ul>
    </ng-template>

    <ul *ngIf="listMartes.length!=0;else sinTurnoMartes">
        <li class="headers fs-5">Mar {{cabecerasFechas[1]}}</li>
        <li *ngFor="let turno of listMartes" [matMenuTriggerFor]="menu" class="turno fs-6 py-2 text-center" 
        [ngClass]="{'turno-disponible':turno.disponible,'turno-ocupado':!turno.disponible}" (click)="turnoMenu = turno">
            
        {{turno.horario.hora|slice:0:5}}</li>

    </ul>

    <ng-template #sinTurnoMartes>
        <ul>
            <li class="headers fs-5">Mar {{cabecerasFechas[1]}}</li>
            <li *ngFor="let horario of listHorarios" class="fs-6 py-2 text-center"><span>---</span></li>
        </ul>
    </ng-template>

    <ul *ngIf="listMiercoles.length!=0;else sinTurnoMiercoles">
        <li class="headers fs-5">Mie {{cabecerasFechas[2]}}</li>
        <li *ngFor="let turno of listMiercoles" [matMenuTriggerFor]="menu" class="turno fs-6 py-2 text-center" 
        [ngClass]="{'turno-disponible':turno.disponible,'turno-ocupado':!turno.disponible}" (click)="turnoMenu = turno" >
        {{turno.horario.hora|slice:0:5}}</li>

    </ul>

    <ng-template #sinTurnoMiercoles>
        <ul>
            <li class="headers fs-5">Mié {{cabecerasFechas[2]}}</li>
            <li *ngFor="let horario of listHorarios" class="fs-6 py-2 text-center"><span >---</span></li>
        </ul>
    </ng-template>

    <ul *ngIf="listJueves.length!=0;else sinTurnoJueves">
        <li class="headers fs-5">Jue {{cabecerasFechas[3]}}</li>
        <li *ngFor="let turno of listJueves" [matMenuTriggerFor]="menu" class="turno fs-6 py-2 text-center"
        [ngClass]="{'turno-disponible':turno.disponible,'turno-ocupado':!turno.disponible}" (click)="turnoMenu = turno">
            {{turno.horario.hora|slice:0:5}}</li>

    </ul>

    <ng-template #sinTurnoJueves>
        <ul>
            <li class="headers fs-5">Jue {{cabecerasFechas[3]}}</li>
            <li *ngFor="let horario of listHorarios" class="fs-6 py-2 text-center"><span >---</span></li>
        </ul>
    </ng-template>

    <ul *ngIf="listViernes.length!=0;else sinTurnoViernes">
        <li class="headers fs-5">Vie {{cabecerasFechas[4]}}</li>
        <li *ngFor="let turno of listViernes"[matMenuTriggerFor]="menu" class="turno fs-6 py-2 text-center"
        [ngClass]="{'turno-disponible':turno.disponible,'turno-ocupado':!turno.disponible}" (click)="turnoMenu = turno">
        {{turno.horario.hora|slice:0:5}}</li>

    </ul>

    <ng-template #sinTurnoViernes>
        <ul>
            <li class="headers fs-5">Vie {{cabecerasFechas[4]}}</li>
            <li *ngFor="let horario of listHorarios" class="fs-6 py-2 text-center" ><span >---</span></li>
        </ul>
    </ng-template>
    
    
    <ul *ngIf="listSabado.length!=0;else sinTurnoSabado">
        <li class="headers fs-5">Sáb {{cabecerasFechas[5]}}</li>
        <li *ngFor="let turno of listSabado" [matMenuTriggerFor]="menu" class="turno fs-6 py-2 text-center"
        [ngClass]="{'turno-disponible':turno.disponible,'turno-ocupado':!turno.disponible}" (click)="turnoMenu = turno">
        {{turno.horario.hora|slice:0:5}}</li>

    </ul>

    <ng-template #sinTurnoSabado>
        <ul>
            <li class="headers fs-5">Sáb {{cabecerasFechas[5]}}</li>
            <li *ngFor="let horario of listHorarios" class="fs-6 py-2 text-center"><span >---</span></li>
        </ul>
    </ng-template>




    <ul *ngIf="listDomingo.length!=0;else sinTurnoDomingo">
        <li class="headers fs-5">Dom {{cabecerasFechas[6]}}</li>
        <li *ngFor="let turno of listDomingo" [matMenuTriggerFor]="menu" class="turno fs-6 py-2 text-center"
        [ngClass]="{'turno-disponible':turno.disponible,'turno-ocupado':!turno.disponible}" (click)="turnoMenu = turno">
        {{turno.horario.hora|slice:0:5}}</li>

    </ul>

    <ng-template #sinTurnoDomingo>
        <ul>
            <li class="headers fs-5">Dom {{cabecerasFechas[6]}}</li>
            <li *ngFor="let horario of listHorarios" class="fs-6 py-2 text-center"><span >---</span></li>
        </ul>
    </ng-template>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="reservarTurno(turnoMenu)" [disabled]="!turnoMenu.disponible" >
          <mat-icon>dialpad</mat-icon>
          <span>Reservar</span>
        </button>
        <button mat-menu-item (click)="verDetalles(turnoMenu)" [disabled]="turnoMenu.disponible">
          <mat-icon>search</mat-icon>
          <span>Detalles</span>
        </button>
        <button mat-menu-item [disabled]="turnoMenu.disponible" (click)="cancelarReserva(turnoMenu)">
          <mat-icon>notifications_off</mat-icon>
          <span>Cancelar Reserva</span>
        </button>
        <button mat-menu-item [disabled]="turnoMenu.disponible" >
            <mat-icon>notifications_off</mat-icon>
            <span>Asistió</span>
            <input class="ms-2" type="checkbox" #inputAsistencia [checked]="turnoMenu.asistio" (click)="modificarAsistencia(turnoMenu, inputAsistencia.checked)">
          </button>
      </mat-menu>

</div>
 
</div>