<h2 mat-dialog-title class="text-center">{{tituloAccion}}</h2>

<mat-dialog-content>

    <form [formGroup]="formAlergia" class="w-100" >

        <mat-grid-list cols="1" rowHeight="110px">

            <mat-grid-tile >
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Alergia" autocomplete="off" formControlName="nombre">
                    <mat-icon matSuffix>healing</mat-icon>
                    <mat-hint *ngIf="formAlergia.get('nombre')?.touched && formAlergia.get('nombre')?.errors?.['required']" 
                    class="text-danger">El campo es requerido</mat-hint>

                    <mat-hint *ngIf="formAlergia.get('nombre')?.touched && formAlergia.get('nombre')?.errors?.['minlength']" 
                    class="text-danger">El nombre debe tener como mínimo 3 caracteres</mat-hint>
                
                    
                  </mat-form-field>                
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center align-items-center mb-3">
    <button mat-raised-button color="primary" [disabled]="formAlergia.invalid||nombreAlergia == formAlergia.value.nombre" (click)="crearActualizarAlergia()">
        {{botonAccion}}
    </button>
    <button mat-raised-button mat-dialog-close color="warn" >
        Cerrar
    </button>

</mat-dialog-actions>
