<h2 mat-dialog-title class="text-center">Detalles Mascota</h2>

<mat-dialog-content >

    <form>
        <mat-grid-list cols="2" rowHeight="110px">
            
            
            <mat-grid-tile>
                <mat-card class="card">
                     <mat-card-header>
                     <mat-card-title>Nombre</mat-card-title>
                     <mat-card-subtitle>{{mascota.nombre}}</mat-card-subtitle>
                     </mat-card-header>
                     
                 </mat-card>
             </mat-grid-tile>

            <mat-grid-tile>
               <mat-card class="card">
                    <mat-card-header>
                    <mat-card-title>Fecha de Nacimiento</mat-card-title>
                    <mat-card-subtitle>{{mascota.fechaNacimiento | date:"dd/MM/yyyy"}}</mat-card-subtitle>
                    </mat-card-header>
                    
                </mat-card>
            </mat-grid-tile>    

            <mat-grid-tile>
                <mat-card class="card">
                     <mat-card-header>
                     <mat-card-title>Propietario</mat-card-title>
                     <mat-card-subtitle>{{mascota.cliente.nombre}}</mat-card-subtitle>
                     </mat-card-header>
                     
                 </mat-card>
             </mat-grid-tile>    
 

          


             
             <mat-grid-tile>
                <mat-card class="card">
                     <mat-card-header>
                     <mat-card-title>Telefono</mat-card-title>
                     <mat-card-subtitle>{{mascota.cliente.telefono}}</mat-card-subtitle>
                     </mat-card-header>
                     
                 </mat-card>
             </mat-grid-tile>    
 

            
             <mat-grid-tile>
                <mat-card class="card">
                     <mat-card-header>
                     <mat-card-title>Email</mat-card-title>
                     <mat-card-subtitle>{{mascota.cliente.email || 'No tiene'}}</mat-card-subtitle>
                     </mat-card-header>
                     
                 </mat-card>
             </mat-grid-tile>    
                    

             
            
             <mat-grid-tile>
                <mat-card class="card">
                     <mat-card-header>
                     <mat-card-title>Raza</mat-card-title>
                     <mat-card-subtitle>{{mascota.raza.nombre}}</mat-card-subtitle>
                     </mat-card-header>
                     
                 </mat-card>
             </mat-grid-tile>    

             
            
             <mat-grid-tile>
                <mat-card class="card">
                     <mat-card-header>
                     <mat-card-title>Enfermedad</mat-card-title>
                     <mat-card-subtitle>{{mascota.enfermedad.nombre}}</mat-card-subtitle>
                     </mat-card-header>
                     
                 </mat-card>
             </mat-grid-tile>    
            
             
            
             <mat-grid-tile>
                <mat-card class="card">
                     <mat-card-header>
                     <mat-card-title>Alergia</mat-card-title>
                     <mat-card-subtitle>{{mascota.alergia.nombre }}</mat-card-subtitle>
                     </mat-card-header>
                     
                 </mat-card>
             </mat-grid-tile>    


        </mat-grid-list>
    </form>
   
</mat-dialog-content>

<mat-dialog-actions align="center" class="mb-4" >
    <button  mat-raised-button mat-dialog-close color="primary" >
        Aceptar
    </button>

</mat-dialog-actions>

