mat-dialog-content{
    width: 80vw;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (min-width:630px) {

    mat-dialog-content{
        width: 500px;
    }
}