

.turno{
    cursor: pointer;
}

.turno:hover{
    background-color: mediumpurple;
    color: white;
}


.turno-disponible{
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.turno-disponible:hover{
    background-color: goldenrod;
    color: white;
    cursor: pointer;
}

.card{
    width: 300px;
    min-height: 300px;
    
    
}

.asistio{
    background-color: greenyellow;
}