mat-dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.titulo{
    color: rgb(103, 58, 183);
}

@media (min-width:600px) {
    mat-dialog-content{
        width: 400px;
    }
}