
    <mat-dialog-content>
        <h3 class="fs-4 mb-5 mt-4 titulo">Nueva fecha de Finalización</h3>
        <mat-form-field color="primary" appearance="outline" class="w-100" >
            <mat-label>Ingrese nueva fecha de finalización</mat-label>
            <input matInput [min]="minDate" [max]="maxDate"  [matDatepicker]="picker" [(ngModel)]="nuevaFechaFin">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-center">
        <button mat-raised-button color="primary"  class="mb-3 me-4" (click)="modificarTurnos()">{{tituloAccion}}</button>
        <button mat-raised-button color="warn" class="mb-3" mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
