<h2 mat-dialog-title>{{tituloAccion}}</h2>

<mat-dialog-content>

    <form [formGroup]="formClientes">
        <mat-grid-list cols="1" rowHeight="110px">
            <mat-grid-tile>
            
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Cliente" autocomplete="off" formControlName="nombre">
                    <mat-icon matSuffix >group</mat-icon>
                    <mat-hint *ngIf="formClientes.get('nombre')?.touched && formClientes.get('nombre')?.errors?.['required']" 
                    class="text-danger">El campo es requerido</mat-hint>

                    <mat-hint *ngIf="formClientes.get('nombre')?.touched && formClientes.get('nombre')?.errors?.['minlength']" 
                    class="text-danger">El nombre debe tener como minimo 2 caracteres</mat-hint>
                
                </mat-form-field>

            </mat-grid-tile>
          

            <mat-grid-tile>
            
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Teléfono" type="number" autocomplete="off" formControlName="telefono">
                    <mat-icon matSuffix >phone</mat-icon>
                    <mat-hint *ngIf="formClientes.get('telefono')?.touched && formClientes.get('telefono')?.errors?.['required']" 
                    class="text-danger">El campo es requerido</mat-hint>
                
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile>
            
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" autocomplete="off" formControlName="email">
                    <mat-icon matSuffix >email</mat-icon>
                    <mat-hint *ngIf="formClientes.get('email')?.touched && formClientes.value.email!='' && formClientes.get('email')?.errors?.['email']" 
                    class="text-danger">Ingrese un email válido</mat-hint>
                </mat-form-field>
            </mat-grid-tile>


        </mat-grid-list>
    </form>
   
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button #button  color="primary" (click)="agregarActualizarCliente()"  
    [disabled]="formClientes.invalid||(nombreCliente == formClientes.value.nombre && telefonoCliente == formClientes.value.telefono && emailCliente == formClientes.value.email)">
        {{botonAccion}}
    </button>
    <button mat-raised-button mat-dialog-close color="warn" >
        Cerrar
    </button>

</mat-dialog-actions>