<div class="container d-flex flex-column justify-content-between align-items-center"  *ngIf="!calendario || calendarioEliminado ;else mostrarCalendario">

    <h2 class="m-5 fs-2">TURNOS</h2>
        
        <button  mat-raised-button color="primary" (click)="nuevoCalendario()">
            Crear Calendario
            <mat-icon>add</mat-icon>
        </button>
    
    
        

</div>

<ng-template #mostrarCalendario>
    
    <app-calendario [calendario]="calendario" (calendarioEliminado)="calendarioEliminado=$event"></app-calendario>
</ng-template>


