<mat-dialog-content>
        <h2 class="text-center">Detalles de turno</h2>
        <div class="d-flex flex-column align-items-start w-100 ps-3">

            <p>Dia: <span> {{dataTurno.fecha|date:'dd/MM/yyyy'}}</span></p>
            
            <p>Hora: <span> {{dataTurno.horario|slice:0:5}}</span></p>
    
            <p>Mascota: <span> {{dataTurno.mascota?dataTurno.mascota.nombre:'Mascota Eliminada'}}</span></p>
            
            <p>Asistio: <span> {{dataTurno.asistio?'Si':'No'}}</span></p>
        </div>
        

        <mat-form-field appearance="outline" color="primary" class="w-100">
            <mat-label >Precio</mat-label>
            <input type="number" matInput  [disabled]="!habilitarBoton"  [(ngModel)]="precio" >
            <mat-icon matIconSuffix color="primary" (click)="habilitarBoton = !habilitarBoton">edit</mat-icon>
            <mat-hint *ngIf="precio<1"  class="text-danger mt-2" >
                El precio debe ser mayor a 0
            </mat-hint>
            
        </mat-form-field>            
                
    
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center" >
    <button mat-raised-button color="primary" class="mb-3 me-4" #buttonActualizar [disabled]="precio===dataTurno.precio" (click)="modificarPrecio()">
        Actualizar
    </button>
    <button mat-raised-button color="warn" class="mb-3" matDialogClose>
        Cerrar
    </button>
</mat-dialog-actions>