<h1 class="text-center text-black mt-5 mb-2">Bienvenido/a {{(dataUsuario$| async)?.nombres}}! </h1>
<h2 class="text-center">Te mostramos el resumen de tu Peluqueria Canina.</h2>

<div class="container d-flex justify-content-center">


<div class="grid-container">

<div class="mat-elevation-z4 mt-3 card">

    <mat-card class="d-flex flex-column align-items-center p-3 card ">
        <mat-card-title class="mb-3">
            Turnos de hoy
        </mat-card-title>
        <mat-card-content *ngIf="listTurnosOcupados.length>0;else sinTurnos" class="card-content">
        <div *ngFor="let turno of listTurnosOcupados" class="mat-elevation-z4 w-100 mb-3" [matMenuTriggerFor]="menu" (click)="turnoMenu=turno" >
            
            <mat-card class=" w-100 p-3 turno" [ngClass]="{'asistio':turno.asistio}">
                
                <div class="d-flex justify-content-between">
                    <mat-card-title>{{turno.horario|slice:0:5}} hs.</mat-card-title>
                    
                    <mat-icon *ngIf="turno.asistio;else noAsistio" style="color:#2fc41b">task_alt</mat-icon>
                    <ng-template #noAsistio>
                        <mat-icon color="primary">pending_actions</mat-icon>
                        
                    </ng-template>
                </div>
                <mat-card-subtitle class="subtitulo-turno">Mascota: {{turno.mascota?turno.mascota.nombre:'Mascota Eliminada'}}</mat-card-subtitle>
                <mat-card-subtitle class="subtitulo-turno" >Asistió:{{turno.asistio?' Si':' Todavía no'}}</mat-card-subtitle>
                
                
            </mat-card >
        </div>

    </mat-card-content>
        
    </mat-card>
    
</div>

<div class="mat-elevation-z4 mt-3 card">

    <mat-card class="d-flex flex-column align-items-center p-3 card " >
        <mat-card-title class="mb-3">
            Turnos Disponibles Hoy
        </mat-card-title>

        <mat-card-content *ngIf="listTurnosDisponibles.length>0;else sinTurnos" class="card-content">
            
            <div *ngFor="let turno of listTurnosDisponibles" class="mat-elevation-z4 w-100 mb-3" [matMenuTriggerFor]="menu" (click)="turnoMenu=turno" >
                
                <mat-card class=" w-100 p-3 turno-disponible">
                    
                    <mat-card-title>{{turno.horario|slice:0:5}} hs.</mat-card-title>
                    
                    
                    
                </mat-card >
            </div>
        </mat-card-content>
        
        
        
        
    </mat-card>
    
</div>




<div class="mat-elevation-z4 mt-3 card">

    <mat-card class="p-3 card ">
        <mat-card-title class="text-center mt-3">Ingresos de hoy</mat-card-title>
       
        <span class=" text-success fs-2 mt-5 text-center nuevos-registros">+ {{ingresoDiario.total| currency}}</span>
    </mat-card>
    
</div>
<div class="mat-elevation-z4 mt-3 card mb-5">

    <mat-card class="p-3 card">
        <mat-card-title class="text-center">Ingreso Mensual</mat-card-title>
        
        <span class=" text-success fs-2 mt-5 text-center nuevos-registros">+ {{ingresoMensual.total| currency}}</span>
    </mat-card>
    
</div>

<div class="mat-elevation-z4 mt-3 card">

    <mat-card class="p-3 card ">
        <mat-card-title class="ms-4 mt-3">Clientes registrados</mat-card-title>
        <!-- <mat-card-title>Cantidad de Turnos: {{dataIngresos.cantidadIngresos}}</mat-card-title> -->
        
        <mat-card-title  class="ms-4 fs-1 mt-4 text-color-primary">{{cantidadClientes}}</mat-card-title>
        <span class=" text-success fs-4 mt-3 ms-4 nuevos-registros">+ {{cantidadClientesNuevos}}</span>
        <span class=" text-success fs-6 mt-1 ms-4">Este mes</span>
        
    </mat-card>
    
</div>

<div class="mat-elevation-z4 mt-3 card">

    <mat-card class="p-3 card">
        <mat-card-title class="ms-4 mt-3">Mascotas registradas</mat-card-title>
        <!-- <mat-card-title>Cantidad de Turnos: {{dataIngresos.cantidadIngresos}}</mat-card-title> -->
        <mat-card-title  class="ms-4 fs-1 mt-4 text-color-primary">{{cantidadMascotas}}</mat-card-title>
        <span class=" text-success fs-4 mt-3 ms-4 nuevos-registros">+ {{cantidadMascotasNuevas}}</span>
        <span class=" text-success fs-6 mt-1 ms-4">Este mes</span>
        
    </mat-card>
    
</div>


    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="reservarTurno(turnoMenu)" [disabled]="!turnoMenu.disponible" >
            <mat-icon>dialpad</mat-icon>
            <span>Reservar</span>
        </button>
        <button mat-menu-item (click)="verDetalles(turnoMenu)" [disabled]="turnoMenu.disponible">
            <mat-icon style="color: dodgerblue;">find_in_page</mat-icon>
            <span>Detalles</span>
        </button>
        <button mat-menu-item [disabled]="turnoMenu.disponible || turnoMenu.mascota === null || turnoMenu.asistio" (click)="cancelarReserva(turnoMenu)">
            <mat-icon color="warn">event_busy</mat-icon>
          <span>Cancelar Reserva</span>
        </button>
        <button mat-menu-item [disabled]="turnoMenu.disponible" >
            <mat-icon color="primary">ballot</mat-icon>
            <span>Asistió</span>
            <mat-checkbox class="ms-2" #inputAsistencia [disabled]="turnoMenu.mascota === null" [checked]="turnoMenu.asistio" (change)="modificarAsistencia(turnoMenu, inputAsistencia.checked)" color="primary"></mat-checkbox>
          </button>
      </mat-menu>
    


</div>

</div>

<ng-template #sinTurnos>
    <mat-card-content  class="card-content">
            
        <div class="mat-elevation-z4 w-100 mb-3"  >
            
            <mat-card class=" w-100 p-3 turno-disponible">
                
                <mat-card-title class="text-center">No hay turnos</mat-card-title>
                
                
                
            </mat-card >
        </div>
    </mat-card-content>
</ng-template>