
<mat-dialog-content>

    <h2 >Reservar Turno</h2>
    <div class="d-flex flex-column align-items-start w-100 mb-2">
        <p>Dia : <span class="color-primary">{{dataTurno.fecha | date:'dd/MM/yyyy'}}</span></p>
        <p>Hora: <span class="color-primary">{{dataTurno.horario | slice:0:5}} hs.</span></p>

    </div>
    
    <form [formGroup]="formReserva" class="w-100 d-flex flex-column align-items-center">
       
            <div class="d-flex justify-content-center align-items-start w-100">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mascota</mat-label>
                    <mat-select formControlName="idMascota" placeholder="Seleccione la Mascota" >
                    <mat-option *ngFor="let mascota of listMascotas" [value]="mascota.id" >
                        {{mascota.nombre}}
                    </mat-option>
                    </mat-select>

                </mat-form-field>

                 
                <button mat-line mat-mini-fab matTooltip="Agregar Mascota" color="primary" class="ms-2 mt-2" (click)="agregarMascota()">
                    <mat-icon>add</mat-icon>
                </button> 

            </div>

            <div class="d-flex justify-content-center align-items-start w-100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Precio</mat-label>
                    <input  matInput type="number" formControlName="precio" placeholder="Ingrese el Precio" >
                </mat-form-field>
                <button mat-line mat-mini-fab color="primary" class="ms-2 mt-2 boton-money" >
                    <mat-icon>attach_money</mat-icon>
                </button> 
            </div>

    </form>
   
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center">
    <button class="px-4 mb-4 me-3 " mat-raised-button #button  color="primary" (click)="reservarTurno()" [disabled]="formReserva.invalid">
        Reservar
    </button>
    <button class="px-4 mb-4" mat-raised-button mat-dialog-close color="warn" >
        Cerrar
    </button>

</mat-dialog-actions>