<h2 mat-dialog-title>{{tituloAccion}}</h2>

<mat-dialog-content>

    <form [formGroup]="formRazas">
        <mat-grid-list cols="1" rowHeight="110px">
            <mat-grid-tile>
            
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Raza" autocomplete="off" formControlName="nombre">
                    <mat-icon matSuffix >pets</mat-icon>
                    <mat-hint *ngIf="formRazas.get('nombre')?.touched && formRazas.get('nombre')?.errors?.['required']" 
                    class="text-danger">El campo es requerido</mat-hint>

                    <mat-hint *ngIf="formRazas.get('nombre')?.touched && formRazas.get('nombre')?.errors?.['minlength']" 
                    class="text-danger">El nombre debe tener como mínimo 3 caracteres</mat-hint>
                
                        
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
   
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="formRazas.invalid||nombreRaza == formRazas.value.nombre " color="primary" (click)="agregarActualizarRaza()">
        {{botonAccion}}
    </button>
    <button mat-raised-button mat-dialog-close color="warn" >
        Cerrar
    </button>

</mat-dialog-actions>