
<mat-toolbar color="primary">

    <mat-toolbar-row class="d-flex justify-content-between py-5">
        
        <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
                <mat-card-title class="fs-3 me-2">
                 Administración de Peluquería 
                </mat-card-title> 
                <mat-card-title class="fs-4">
                    "{{(datosUsuario$|async)?.nombrePeluqueria}}"
                </mat-card-title>
            </div>
            
        
        
            <button mat-icon-button (click)="sideNav.toggle()">
            
                <mat-icon  >menu</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>



<mat-sidenav-container>
    
        <!-- SIDENAV PRINCIPAL -->
    <mat-sidenav #sideNav mode="over" style="width: 300px;">
        <mat-nav-list >
                

            <!-- LIST ITEM DASHBOARD -->
            
            <mat-list-item  (click)="redireccionarA('/pages/dashboard')" class="ps-4 py-5">

                <div class="d-flex justify-content-start fs-4">

                    <mat-icon color="primary" mat-list-icon >dashboard</mat-icon>
                        <div mat-line class="ps-3">Dashboard</div> 

                </div>
            </mat-list-item>

            
            <!-- LIST ITEM CLIENTES -->
            
            <mat-list-item (click)="redireccionarA('/pages/clientes')" class="ps-4 py-5">
            
             
                    <div class="d-flex justify-content-start fs-4">

                        <mat-icon mat-list-icon color="primary" >group</mat-icon>
                
                    <div class="ps-3">Clientes</div>

                    
                
                
                </div>
            
            </mat-list-item>


            <!-- LIST ITEM TURNOS -->
            
            <mat-list-item (click)="redireccionarA('/pages/turnos')"  class="ps-4 py-5" >
                
                <div class="d-flex justify-content-start fs-4">

                    <mat-icon mat-list-icon color="primary" >
                        edit_calendar
                    </mat-icon>
                    
                    <div class="ps-3">
                        Turnos
                    </div>
                
                </div>
                    
            </mat-list-item>

            <!-- LIST ITEM MASCOTAS -->
            
            <mat-list-item  (click)="redireccionarA('/pages/mascotas')"   class="ps-4 py-5" >
                
                
                <div class="d-flex justify-content-start fs-4">

                    <mat-icon mat-list-icon color="primary" >pets</mat-icon>
                    
                    <div class="ps-3">Mascotas</div>

                    
                </div>
                
                    
            </mat-list-item>
            
           
            <!-- LIST ITEM CAJA -->
            
            <mat-list-item (click)="redireccionarA('/pages/caja')"  class="ps-4 py-5" >
                <div class="d-flex justify-content-start fs-4">

                    <mat-icon mat-list-icon color="primary" >monetization_on</mat-icon>
                    
                    <div class="ps-3">Caja</div>
                    

                </div>

            </mat-list-item>

            <!-- LIST ITEM RAZAS -->

            <mat-list-item  class="ps-4 py-5" (click)="redireccionarA('/pages/razas')"  >

                <div class="d-flex justify-content-start fs-4">
    
                    <mat-icon mat-list-icon color="primary">stars</mat-icon>
                        
                    <div class="ps-3">Razas</div>
    
                </div>
    
            </mat-list-item>   
            
            
             <!-- LIST ITEM ALERGIAS-->
        <mat-list-item  class="ps-4 py-5" (click)="redireccionarA('/pages/alergias')"  >

            <div class="d-flex justify-content-start fs-4 py-3">

                <mat-icon mat-list-icon color="primary">healing</mat-icon>
                    
                <div class="ps-3">Alergias</div>
            </div>

        </mat-list-item>

        <!-- LIST ITEM ENFERMEDADES-->
        <mat-list-item  class="ps-4 py-5" (click)="redireccionarA('/pages/enfermedades')"   >

            <div class="d-flex justify-content-start fs-4">

                <mat-icon mat-list-icon color="primary">local_hospital</mat-icon>
                    
                <div class="ps-3">Enfermedades</div>
                    
            </div>

        </mat-list-item>

        <mat-list-item  class="ps-4 py-5" (click)="cerrarSesion()"  >

            <div class="d-flex justify-content-start fs-4">

                <mat-icon mat-list-icon color="primary">logout</mat-icon>
                    
                <div class="ps-3">Cerrar Sesión</div>
                    
            </div>

        </mat-list-item>

        </mat-nav-list>



    </mat-sidenav>
    

 
            
    <mat-sidenav-content >
        
        <router-outlet></router-outlet>

    </mat-sidenav-content>

   



</mat-sidenav-container>
