
<div class="d-flex justify-content-center">

  <div class="imagen">
    <img src="../../../../assets/lavar-perro-mascota-casa-optimizada.jpg">
  </div>

  <div class=" contenedor d-flex flex-column justify-content-center align-items-center">
    <div>
      <h2 class>Registro</h2>

    </div>

    <form [formGroup]="formularioRegistro" class="d-flex flex-column justify-content-center align-items-center w-100">
      <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input formControlName="nombres" autocomplete="off" type="text" matInput placeholder="Ingresa tu nombre">
          <mat-icon matSuffix>user</mat-icon>
          <mat-error *ngIf="formularioRegistro.get('nombres')?.hasError('required') && formularioRegistro.get('nombres')?.touched">
            El campo es requerido.
          </mat-error>
          
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Apellido</mat-label>
          <input formControlName="apellido" autocomplete="off" type="text" matInput placeholder="Ingresa tu apellido">
          <mat-icon matSuffix>user</mat-icon>
          <mat-error *ngIf="formularioRegistro.get('apellido')?.hasError('required') && formularioRegistro.get('apellido')?.touched">
            El campo es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nombre de la Peluqueria</mat-label>
          <input formControlName="nombrePeluqueria" autocomplete="off" type="text" matInput placeholder="Ingresa el nombre de tu Peluqueria">
          <mat-icon matSuffix>pets</mat-icon>
          <mat-error *ngIf="formularioRegistro.get('nombrePeluqueria')?.hasError('required') && formularioRegistro.get('nombrePeluqueria')?.touched">
            El campo es requerido.
          </mat-error>
        </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" autocomplete="off" type="email" matInput placeholder="nombre@ejemplo.com">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="formularioRegistro.get('email')?.hasError('required') && formularioRegistro.get('email')?.touched">
          El campo es requerido.
        </mat-error>
        <mat-error *ngIf="formularioRegistro.get('email')?.hasError('email') && formularioRegistro.get('email')?.touched">
          El email ingresado no es válido.
        </mat-error>
      </mat-form-field>
   
      
      <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input formControlName="password" autocomplete="off" [type]="ocultarPassword? 'password':'text'" matInput >
          <mat-icon (click)="ocultarPassword=!ocultarPassword" matSuffix style="cursor: pointer;">
              {{ocultarPassword?'visibility_off':'visibility'}}</mat-icon>
              <mat-error *ngIf="formularioRegistro.get('password')?.hasError('required') && formularioRegistro.get('password')?.touched">
                El campo es requerido.
              </mat-error>
              <!-- Alerta para longitud mínima -->
              <mat-error *ngIf="formularioRegistro.get('password')?.hasError('minlength') && formularioRegistro.get('password')?.touched">
                La contraseña debe tener al menos 6 caracteres.
              </mat-error>
              <!-- Alerta para longitud máxima -->
              <mat-error *ngIf="formularioRegistro.get('password')?.hasError('maxlength') && formularioRegistro.get('password')?.touched">
                La contraseña debe tener como máximo 15 caracteres.
              </mat-error>
      
              <!-- Alerta para minúsculas -->
              <mat-error *ngIf="formularioRegistro.get('password')?.hasError('lowercase') && formularioRegistro.get('password')?.touched">
                La contraseña debe contener al menos una letra minúscula.
              </mat-error>
      
              <!-- Alerta para mayúsculas -->
              <mat-error *ngIf="formularioRegistro.get('password')?.hasError('uppercase') && formularioRegistro.get('password')?.touched">
                La contraseña debe contener al menos una letra mayúscula.
              </mat-error>
      
              <!-- Alerta para números -->
              <mat-error *ngIf="formularioRegistro.get('password')?.hasError('digit') && formularioRegistro.get('password')?.touched">
                La contraseña debe contener al menos un número.
              </mat-error>

              <!-- Alerta para espacio en blanco -->
              <mat-error *ngIf="formularioRegistro.get('password')?.hasError('espacioBlanco') && formularioRegistro.get('password')?.touched">
                La contraseña no debe contener espacios en blanco.
              </mat-error>
        </mat-form-field>

       

     
      

      <div class="contenedor-botones">
          <button class="fs-5 px-4 py-4 mt-3 mx-2" mat-raised-button color="primary" [disabled]="formularioRegistro.invalid" (click)="registrarUsuario()">
              Registrar 
              
              <mat-icon class="me-2">login</mat-icon>
          </button>
          <button class="fs-6 py-4 px-5 mt-3 mx-2" mat-raised-button color="accent" (click)="volverIndex()">
             Inicio
             <mat-icon>home</mat-icon>
          </button>
      </div>

      
      
    </form>
    <p class="mt-3 mb-5">¿Tenés un usuario? <span style="color:mediumpurple; cursor: pointer;" (click)="irLogin()">Ingresá</span></p>
    
  </div>

</div>

  